<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-img src="/assets/tec_chetumal.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle >Bienvenido</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p  align="center">
        <font color="#FF8C00">
          Recomendaciones
        </font>
        </p>
        
        <p style="text-align: justify;">
          <font color="#FF8C00">
              SALUDOS:<br />
        </font>
        
        El Instituto Tecnológico de Chetumal te da la más cordial bienvenida. En este momento eres ASPIRANTE a ingresar a este INSTITUTO.<br /><br />
        Antes de comenzar a llenar la solicitud, te recomendamos que leas cuidadosamente los siguientes requisitos,
        te ayudarán en el proceso de registro de la solicitud. Es importante detenerse a leer estas recomendaciones antes de continuar,
        lo cual te facilitará el trabajo de llenado e impresión de la solicitud. Te sugerimos te pongas cómodo y dispuesto a capturar
        esta solicitud, el tiempo estimado de captura será de aproximadamente 30 minutos.<br /><br />
        
        <font color="#1E90FF">
        EL PROCESO DE LLENADO DE ESTA SOLICITUD CONSTA DE TRES PASOS: <br /><br />
        </font>
        
        <font color="#045893"> Primero: </font>llenar la solicitud de ficha de examen de selección que consiste en llenar el formulario con
        datos básicamente de tipo general y escolar del aspirante. <br /><br />
        <font color="#045893"> Segundo: </font> llenar el formulario de datos socioeconómicos del aspirante, éste formulario requiere
        información tal como,ingresos económicos de tus padres y de tu familia, nivel de estudios, ocupación de tus padres, dependencia económica,
        datos de la vivienda, entre otros. <br /><br />
        <font color="#045893"> Tercero: </font> Imprimir la solicitud en la opción de FORMATO IMPRESOS del menú principal que se te presenta arriba.
        Llevar la solicitud impresa al departamento de control escolar junto con documentos comprobatorios necesarios
        (fotografías, constancias, copias, entre otros), entregarla para validación y comprobación de tus datos.
        Al final deberás hacer tu pago de derecho de examen de admisión y posteriormente te sea entregada una ficha de examen para pasar al
        llenado de la hoja de registro de Ceneval.<br /><br />
        
        <font color="#1E90FF">
        LOS REQUISITOS PARA CAPTURAR ESTA SOLICITUD: <br /><br />
        </font>
        Disponer de la información necesaria y requerida por la solicitud y el formato de datos socioeconómicos tal como:<br /><br />
        Apellido del aspirante y nombre(s), CURP completa, fecha de nacimiento del aspirante, nacionalidad, sexo, opciones de carrera
        (seleccionar primera opción y segunda opción en caso de no ser aceptado en la primera opción), entidad de la preparatoria de procedencia
        y nombre de la preparatoria de procedencia, promedio general, año de egreso de bachillerato, domicilio, estado civil, zona de procedencia del aspirante,
        además de los datos generales de tus padres, entre otros.<br /><br />
        Con respecto de los datos socioeconómicos, te pedimos captures datos tales como nivel de estudios de tus padres, ¿con quién vives?,
        ¿tipo de vivienda?, ¿ocupación de tus padres?,¿ingresos económicos de tus padres?, ¿características de tu vivienda?
        así como datos de persona y domicilio en caso de emergencia.<br /><br />
        <font color="#045893"> NOTA: DEBERÁS LLENAR TODOS LOS DATOS QUE SE TE PIDEN, El PROGRAMA NO TE DEJARÁ SEGUIR SI NO LO HACES ASÍ.  </font><br /><br />
        
        Con estos datos en mano te pedimos tener paciencia y capturar lo más tranquilo posible para que termines tu proceso de registro de manera exitosa.
        Ahora bien, si crees que te faltaron datos, captura los datos con los que cuentes en este momento, guarda los cambios y los actualizas más tarde.
        <br /><br />
        
        <font color="#1E90FF">
        NECESIDADES DE COMPUTADORA Y PROGRAMAS INSTALADOS EN TU PC <br /><br />
        </font>
        Si ya estás aquí es porque estás frente a una PC con conexión a Internet,
        ahora sólo basta saber si tienes el programa adecuado para imprimir esta solicitud.<br /><br />
        Al término de llenado de tu solicitud está la opción de IMPRIMIR solicitud, deberás seleccionar esta opción e intentar
        imprimir los datos capturados. Si todo ha salido bien deberás mandar lo que aparece en pantalla que será la solicitud
        de aspirante a la impresora y con ello habrás terminado de capturar. <br /><br />
        Cuando ya termines puedes CERRAR SESIÓN.<br /><br />
        Bueno ahora ponte cómodo y a capturar la solicitud.<br /><br />
        Saludos nuevamente y gracias por tu comprensión.<br /><br />
        
        
        
        </p>
    </ion-card-content>
    <ion-button (click)="enviar()"  expand="block" type="submit" class="ion-no-margin" color="primary" >CONTINUAR</ion-button>

  </ion-card>
</ion-content>
