<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>
        Formulario Socioeconomico
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
        <ion-img src="/assets/economics.png"></ion-img>
    </ion-card>    
  
    <ion-card>
  
      <ion-card-header >          
            <ion-card-subtitle >Datos Socioeconomicos del Aspirante</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
  
        <ion-item>
          <ion-label position="floating">NIP</ion-label>
        <ion-input [(ngModel)]="formSocio.nip" readonly name="nip" id="nips" #nip="ngModel" type="text" required></ion-input>
    </ion-item>
      </ion-card-content>
    </ion-card>
    
  
  </ion-content>
  

