<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        </ion-buttons>
    <ion-title><ion-img src="/assets/tec_chetumal.png"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Item as an Anchor -->
<ion-item href="http://192.168.1.70/Proyecto_Nuevo_Ingreso/public/imprimir/{{nip}}">
  <ion-label style=" background: #014E82;font-weight: bolder; font-family: Verdana, Geneva, Tahoma, sans-serif">
      <p style="color:#fff8dc; text-align: center;">SOLICITUD AL EXAMEN DE SELECCIÓN</p>
      <ion-img style="height: 4rem;width: 4rem; margin-left: 8rem;" src="/assets/pdf.png"></ion-img>

      </ion-label>
         
</ion-item>

<!-- Item as an Anchor -->
<ion-item href="http://192.168.1.70/Proyecto_Nuevo_Ingreso/public/imprimir/{{nip}}">
  <ion-label style=" background: #014E82;font-weight: bolder; font-family: Verdana, Geneva, Tahoma, sans-serif">
      <p style="color:#fff8dc; text-align: center;">FICHA DE PAGO</p>
      <ion-img style="height: 4rem;width: 4rem; margin-left: 8rem;" src="/assets/pdf.png"></ion-img>

      </ion-label>
         
</ion-item>
<ion-button  expand="block" type="submit" class="ion-no-margin" color="primary" >Home</ion-button>

</ion-content>
