<ion-header translucent>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title >Home</ion-title> -->
    <ion-img src="/assets/tec_chetumal.png"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content padding>
 
<ion-item *ngFor="let datos of data1" href="{{datos.urlNota}}">

    <ion-card>
      <ion-card-header>
          <ion-card-title >{{datos.titulo}}</ion-card-title>

        <ion-card-subtitle>{{datos.subtitulos}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content >
          {{datos.contenido}}
          <ion-img  src="{{datos.urlImg}}"></ion-img>

      </ion-card-content>
    </ion-card>
</ion-item>



  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button href="https://twitter.com/IT_Chetumal"><ion-icon  name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button href="https://www.instagram.com/itchetumal/?hl=es"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      <ion-fab-button href="https://twitter.com/IT_Chetumal"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
    
  </ion-fab>

  

</ion-content>
